<?xml version="1.0"?>
<!-- 
/**
 * This file is part of the Itabs_ShipTaxClass project.
 *
 * Itabs_ShipTaxClass is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License version 3 as
 * published by the Free Software Foundation.
 *
 * This script is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 *
 * @category  Itabs
 * @package   Itabs_ShipTaxClass
 * @author    Rouven Alexander Rieker <rouven.rieker@itabs.de>
 * @author    Steffen Meuser <magento@flagbit.de>
 * @copyright 2012 ITABS GmbH + Flagbit GmbH & Co. KG. All rights served.
 * @license   http://opensource.org/licenses/gpl-3.0 GNU General Public License, version 3 (GPLv3)
 * @version   0.1.0
 * @since     0.1.0
 */
 -->
<config>
   <sections>
        <tax>
            <groups>
                <classes translate="label comment">
                    <fields>
                        <ignore_shippingtax_customergroup translate="label">
                            <label>Customergroups to ignore shipping taxrates</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>adminhtml/system_config_source_customer_group</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </ignore_shippingtax_customergroup>
                        <ignore_shippingtax_customergroup_taxclassid translate="label">
                            <label>Product tax class to use for shipping tax ignoring customergroups</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_shipping_taxclass</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </ignore_shippingtax_customergroup_taxclassid>
                    </fields>
                </classes>
            </groups>
        </tax>
    </sections>
</config>
